
 @keyframes anima {   
    0%{
        left: calc(100% - 200px);            
    }
    46.153%{
        left: 150px; 
    }
    51.28%{
        left: 150px; 
    }
    97.43%{
        left: calc(100% - 200px);      
    }
    100%{
        left: calc(100% - 200px);      
    }
  }

 @keyframes anima {   
    0%{
        left: calc(100% - 200px);            
    }
    46.153%{
        left: 150px; 
    }
    51.28%{
        left: 150px; 
    }
    97.43%{
        left: calc(100% - 200px);      
    }
    100%{
        left: calc(100% - 200px);      
    }
  }

body{
    float: left;
    width: 100%;
}
.header{
    float: left;
    width: 100%;
    height: calc(100vh - 111px);
    min-height: 600px;
    background: #c7e8f4;
    
    position: relative;
    overflow: hidden;
}
.h-box, .h-1, .h-2, .h-3, .h-4, .h-5{
    float: left;
    width: 100%;
    height: inherit;
    min-height: 700px;
    display: none;
}

.h-main{
    position: relative;
    top: calc(55% - 400px);
    width: 300px;
    left: calc(50% - 150px);
    z-index: 5;
}
.h-main img{
    width: inherit;
}
.h-txt-1, .h-txt-2{
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    
    color: #3b3b3b;
    
    z-index: 4;
}
.h-txt-1{
    top: calc(55% - 250px);
    right: calc(50% + 120px);
}
.h-txt-2{
    top: calc(55% - 150px);
    left: calc(50% + 100px);
}
.sl-img-1, .sl-img-2{
    position: absolute;
    top: 8%;
    
    height: 75px;
    width: 75px;
    
    z-index: 5;
}
.sl-img-1{
    right: calc(40% - 285px);
    
    background: url(../img/slide-1.png) center center no-repeat;
    background-size: cover;
}
.sl-img-2{
    right: calc(40% - 175px);
    
    background: url(../img/slide-2.png) center center no-repeat;
    background-size: cover;
}

.header h1{
    position: absolute;
    bottom: 20%;
    left: calc(50% - 250px);
    font-size: 16px;
    line-height: 16px;
    width: 500px;
    
    color: #3b3b3b;
    font-weight: bold;
    z-index: 5;
    
    text-align: center;
    
}
.h-btn-1{
    position: absolute;
    bottom: 8%;
    left: calc(50% - 250px);
    outline: none;
    border: none;
    padding: 15px 30px;
    background: #fff;
    color: #3b3b3b;
    z-index: 5;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}
.h-btn-1:hover{
    background: #3b3b3b;
    color: #fff;
}
.h-btn-2{
    position: absolute;
    bottom: 8%;
    right: calc(50% - 250px);
    outline: none;
    border: none;
    padding: 15px 30px;
    background: #fff;
    color: #3b3b3b;
    z-index: 5;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}
.h-btn-2:hover{
    background: #3b3b3b;
    color: #fff;
}

.h-btn-1, .h-btn-2{
    font-size: 17px;
}


.h-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
}
.slide{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 64px;
    color: #fff;
    z-index: inherit;
    display: none;
    
    z-index: 4;
}
.h-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: inherit;
    min-height: 700px;
}
.h-right{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: inherit;
    min-height: 700px;
}
.h-arrow-left{
    position: absolute;
    top: 35%;
    left: 15%;
    height: 87px;
    width: 46px;
    background: url(../img/arrow-left.png) center center no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
}
.h-arrow-right{
    position: absolute;
    top: 35%;
    right: 15%;
    height: 87px;
    width: 46px;
    background: url(../img/arrow-right.png) center center no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
}

.c-1{
    background: #b9e3f1;
}
.c-2{
    background: #dc6bdd;
}
.c-3{
    background: #ff9696;
}
.c-4{
    background: #7bdd6b;
}
.c-5{
    background: #dd936b;
}

.navigation{
    float: left;
    width: 100%;
    
    background: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
.nav{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.nav-fix{
    margin-right: 125px;
}
.nav p{
    float: left;
    
    color: #4a4a4a;
    font-size: 16px;
    line-height: 70px;
    
    font-weight: 100;
}
.nav-logo{
    display: inline-block;
    height: 70px;
    margin-left: 15px; 
    margin-right: 15px;
}
.nav-logo img{
    height: inherit;
}
.s-2{
    float: left;
    width: 100%;
    background: #fc8479;
    height: 50vh;
    min-height: 250px;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
.s-2-left, .s-2-right{
    float: left;
    width: 49%;
}
.s-2-left{
    margin-right: 1%;
}
.s-2-right{
    margin-left: 1%;
}
.s-2-left{
    margin-top: 50px;
    text-align: right;
}
.s-2-left img{
    display: inline-block;
}
.s-2-right{
    text-align: left;
}
.s-2-right p{
    margin-top: 75px;
    font-size: 24px;
    
    color: #fff;
}
.s-2-left img, .s-2-right p{
    width: 50%;
    min-width: 400px;
}
.s-2-left img{
    width: 60%;
}
.s-3{
    float: left;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    background: #fff;
}
.s-3-left{
    float: left;
    width: 100%;
    height: 100%;
    -webkit-transition: .7s linear;
    transition: .7s linear;
}
.s-3-left.s-active{
    width: 50%;
}
.s-box{
    float: left;
    width: 50%;
    height: 50%;
    cursor: pointer;
    -webkit-transition: .7s linear;
    transition: .7s linear;
    
    overflow: hidden;
    position: relative;
}

.sc-1{
    background: #feb692;
}
.sc-2{
    background: #f0cd59;
}
.sc-3{
    background: #d99647;
}
.sc-4{
    background: #a9c962;
}
.sc-img, .sc-img-4{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    
    -webkit-transition: .4s linear;
    transition: .4s linear;
    
    z-index: 1;
}
.sc-img img, .sc-img-4 img{ 
    float: right;
    height: 100%;
    
    -webkit-transition: .4s linear;
    transition: .4s linear;
}
.s-active .sc-img{
    top: 25%!important;
    right: 0!important;
    height: 50%!important;
}
/*
.sc-1{
    background: url(../img/s3-1.png) center center no-repeat;
    background-size: cover;
    
    -webkit-transition: 0s linear;
    transition: 0s linear;
}
.sc-2{
    background: url(../img/s3-2.png) center center no-repeat;
    background-size: cover;
    
    -webkit-transition: 0s linear;
    transition: 0s linear;
}
.sc-3{
    background: url(../img/s3-3.png) center center no-repeat;
    background-size: cover;
    
    -webkit-transition: 0s linear;
    transition: 0s linear;
}
.sc-4{
    background: url(../img/s3-4.png) center center no-repeat;
    background-size: cover;
    
    -webkit-transition: 0s linear;
    transition: 0s linear;
}
*/
/*
.sc-1.s-active{
    background: url(../img/s3-1-a.png) center center no-repeat;
    background-size: cover;
}
.sc-2.s-active{
    background: url(../img/s3-2-a.png) center center no-repeat;
    background-size: cover;
}
.sc-3.s-active{
    background: url(../img/s3-3-a.png) center center no-repeat;
    background-size: cover;
}
.sc-4.s-active{
    background: url(../img/s3-4-a.png) center center no-repeat;
    background-size: cover;
}
*/

.s-fix{
    float: left;
    height: 100%;
    width: 0%;
    background: #eccfad;
    
    -webkit-transition: .7s linear;
    transition: .7s linear;
    
    position: relative;
    z-index: 1;
    
    overflow: hidden;
}
.s-fix.s-active{
    display: block;
    
    width: 50%;
}
.f-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
}
.b-1{
    background: #eccfad;
}
.b-2{
    background: #eccfad;
}
.b-3{
    background: #eccfad;
}
.b-4{
    background: #eccfad;
}
.f-img{
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
}
.f-img img{
    display: block;
    margin: auto;
    width: 60%;
}
.f-title, .f-txt{
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    display: none;
}
.f-title{
    margin-top: 5%;
    font-size: 18px;
    color: #303030;
    line-height: 22px;
    font-family: "AgoraSansProBold";
    font-weight: bold;
}
.f-txt{
    margin-top: 5%;
    line-height: 20px;
    font-size: 16px;
    color: #3b3b3b;
}
.s-close{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50px;
    right: 50px;
    cursor: pointer;
    
    display: none;
    z-index: 5;
}
.s-active .s-close, .s-active .f-title, .s-active .f-txt{
    display: block;
}

.s-close img{
    height: inherit;
}

.s-icon{
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-right: 50%;
    margin-top: 10%;
    height: 75px;
    -webkit-transition: .4s linear;
    transition: .4s linear;
    
    position: relative;
    z-index: 2;

}
.s-icon img{
    display: block;
    margin: auto;
    height: inherit;
}



.s-txt{
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-right: 50%;
    margin-top: 5%;
    font-size: 18px;
    font-weight: bold;
    color: #303030;
    text-align: center;
    
    -webkit-transition: .4s linear;
    transition: .4s linear;
    
    position: relative;
    z-index: 2;
}
.s-active .s-txt{ 
    font-size: 16px;
}
.s-active .s-icon{
    float: left;
    height: 50px!important;
    margin-top: 25%!important;
}
.s-plus{
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-right: 50%;
    margin-top: 5%;
    height: 25px;
    
    position: relative;
    z-index: 2;
    
    -webkit-transition: .4s linear;
    transition: .4s linear;
}
.s-plus img{
    display: block;
    margin: auto;
    height: inherit;
}

.s-box:hover .s-icon{
    margin-top: 7%;
}
.s-box:hover .s-plus, .s-box:hover .s-txt{
    margin-top: 3%;
}
.s-box:hover .sc-img{
    top: 5%;
    height: 90%;
}

.s-map{
    float: left;
    width: 100%;
    
    height: 50vh;
    min-height: 500px;
    padding-top: 15vh;
    padding-bottom: 10vh;
    background: #b9e3f1;
}
.s-map h1{
    float: left;
    width: 100%;
    text-align: center;
    
    font-size: 22px;
    line-height: 22px;
    font-family: "AgoraSansProMedium";
    font-weight: 900;
    text-transform: uppercase;
    
    color: #303030;
    margin-bottom: 50px;
}
.s-map-left{
    float: left;
    width: 59%;
    margin-right: 1%;
    text-align: right;
}
.s-map-left img{
    display: inline-block;
    min-width: 600px;
    width: 55%;
}
.s-map-right{
    float: left;
    width: 39%;
    margin-left: 1%;
}
.map-title{
    float: left;
    width: 300px;
    margin-right: calc(100% - 300px);
    margin-top: 75px;
    
    text-align: left;
    font-size: 16px;
    color: #303030;
}
.map-title span{
    font-weight: bold;
}
.s-map-right p{
    float: left;
    width: 300px;
    margin-right: calc(100% - 300px);
    
    margin-top: 15px;
    
    text-align: left;
    font-size: 16px;
    font-weight: 100;
    color: #303030;
}
.call-button{
    float: left;
    width: 200px;
    margin-top: 20px;
    
    font-size: 16px;
    font-weight: bold;
    
    background: #fff;
    color: #3b3b3b;
    
    padding: 15px 30px;
    outline: none;
    border: none;
    
    -webkit-transition: .4s linear;
    transition: .4s linear;
    font-size: 14px;
    font-weight: 600;
}
.call-button:hover{
    background: #3b3b3b;
    color: #fff;
}

.s-clients{
    float: left;
    width: 100%;
    padding-top: 50px;
    
    background: #fff;
    color: #303030;
}
.s-clients h1{
    float: left;
    width: 100%;
    
    margin-top: 25px;
    margin-bottom: 25px;
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.footer{
    float: left;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 75px;
    
    color: #1d1d1d;
    background: #ffe1bd;
    text-align: center;
}
.footer-left{
    display: inline-block;
    margin-right: 1%;
    text-align: right;
}
.footer-left img{
    display: inline-block;
    height: 80px;
}
.footer-right{
    display: inline-block;
    margin-left: 5%;
    width: 700px;
}
.footer-navigation{
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.footer-navigation p{
    float: left;
    color: #1d1d1d;
    margin-right: 15px;
    font-family: "AgoraSansProBold";
}
.foot-part{
    float: left;
}
.f-1{
    width: 300px;
}
.f-2{
    width: 140px;
}
.f-3{
    width: 140px;
}
.foot-part p{
    float: left;
    width: 100%;
    
    font-size: 16px;
    line-height: 18px;
    color: #1d1d1d;
}
.foot-line{
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 15px;
    height: 40px;
    width: 1px;
    background: #1d1d1d;
}

.animation{
    position: relative;
    width: 100%;
    height: 300px;
    padding-top: 150px;
}
.showcase{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 282px;
    width: 222px;
    
    z-index: 1;
}
.showcase img{
    height: inherit;
    width: inherit;
}


.buyer{
    position: absolute;
    bottom: -5px;
    left: calc(100% - 200px);
    height: 282px;
    width: 200px;
    
    z-index: 2;
}
.buyer-anima{
    animation: anima 8.58s infinite linear;
    -webkit-animation: anima 8.58s infinite linear;
}
.buyer img{
    height: inherit;
    width: inherit;
}
.cashbox{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 282px;
    width: 200px;
    
    z-index: 3;
}
.cashbox img{
    height: inherit;
    width: inherit;
}

.table{
    position: absolute;
    height: auto;
    width: 300px;
    padding: 5px;
    left: calc( 50% - 150px);
    bottom: 50px;
     
    background: #f1f2f2;
    z-index: 1;
}
.table-border{
    border: 5px solid #b8deeb;
}
.table-inner{
    background: #f1f2f2;
    padding: 5px;
    min-height: 80px;
}
.table-inner span{
    color: #475f93;
    font-weight: 900;
}
.table-inner h2{
    color: #323232;
    font-weight: 500;
    font-size: 17px;
}

.table-1, .table-2{
    position: absolute;
    height: 45px;
    width: 10px;
    bottom: 0;
    background: #c9c9c8;
    
    z-index: 1;
}
.table-1-s, .table-2-s{
    position: absolute;
    height: 5px;
    width: 10px;
    bottom: 45px;
    background: #929393;
    
    z-index: 1;
}
.table-1, .table-1-s{
    left: calc(50% - 80px);
}
.table-2, .table-2-s{
    left: calc(50% + 75px);
}
.d-1{
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.d-2{
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.d-3{
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.d-4{
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}
.d-5{
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.about-header{
    float: left;
    width: 100%;
    
    background: #a9c962;
}
.a-header-img{
    float: left;
    width: 140px;
    margin-left: 20%;
}
.a-header-img img{
    float: left;
    width: 140px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.a-header-text{
    float: left;
    display: table;
    width: calc(60% - 190px);
    height: 384px;
    margin-right: 20%;
    margin-left: 50px;
    
}
.a-h-txt{
    float: none;
    display: table-cell;
    vertical-align: middle;
    
    width: 100%;
    
    color: #fff;
    font-size: 16px;
}
.a-h-txt p{
    margin-top: 25px;
    width: 100%;
    
    color: #fff;
    font-size: 16px;
}
.a-header-text span{
    font-family: "AgoraSansProBold";
}
.a-map{
    float: left;
    width: 100%;
    
    box-sizing: border-box;
    
    background: #f0cd59;
    padding-left: 20%;
    padding-right: 20%;
}
.a-map-text{
    float: left;
    width: calc(50% - 50px);
    margin-right: 50px;
    height: 475px;
    
    display: table;
}
.a-map-text p{
    float: none;
    
    display: table-cell;
    vertical-align: middle;
    
    width: 100%;
    font-size: 16px;
    color: #4e4733;
}
.a-map-img{
    float: left;
    width: 50%;
    
    margin-top: 100px;
    margin-bottom: 90px;
}
.a-map-img img{
    float: left;
    height: 290px;
}
.a-advantages{
    float: left;
    width: 100%;
    
    color: #302f2c;
    background: #b9e3f1;
    padding-bottom: 150px;
}
.adv-title{
    float: left;
    width: 100%;
    
    margin-top: 100px;
    margin-bottom: 50px;
    
    text-align: center;
    font-size: 28px;
    
    
    font-family: "AgoraSansProRegular";
}
.adv-row{
    float: left;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.adv-1{
    float: left;
    width: 25%;
    text-align: center;
}
.adv-1 img{
    display: inline-block;
    float: none;
    width: 150px;
}
.adv-1 p{
    display: inline-block;
    float: none;
    width: 230px;
    font-size: 16px;
}
.a-partners{
    float: left;
    width: 100%;
}
.ap-title{
    float: left;
    width: 100%;
    padding-bottom: 50px;
    
    color: #fff;
    font-size: 26px;
    
    text-align: center;
    background: #b9e3f1;
}
.ap-row{
    float: left;
    width: 100%;
    text-align: center;
}
.ap-box{
    float: left;
    width: 25%;
    height: 400px;
    
    overflow: hidden;
    
    position: relative;
}
.ap-1{
    background: #feb692;
}
.ap-2{
    background: #f0cd59;
}
.ap-3{
    background: #d99647;
}
.ap-4{
    background: #a9c962;
}
.ap-img{
    float: left;
    width: 100%;
    margin-top: 100px;
}
.ap-img img{
    display: inline-block;
    height: 120px;
}
.ap-text{
    float: left;
    width: 100%;
    margin-top: 25px;
}
.ap-text p{
    display: inline-block;
    width: 250px;
    font-size: 25px;
    font-family: "AgoraSansProBold";
    color: #303030;
}
.ap-hover{
    position: absolute;
    
    top: -400px;
    left: 0;
    
    height: 400px;
    width: 100%;
    
    -webkit-transition: .5s linear;
    transition: .5s linear;
    
    text-align: center;
    
    background: inherit;
}
.ap-box:hover .ap-hover{
    top: 0;
}
.aph-row{
    display: inline-block;
    width: 100%;
}
.aph-title{
    display: inline-block;
    margin-top: 65px;
    width: 250px;
    font-size: 25px;
    font-family: "AgoraSansProBold";
    color: #303030;
}
.aph-text{
    display: inline-block;
    width: 250px;
    margin-top: 45px;
    font-size: 16px;
    color: #303030;
}
.aph-button{
    display: inline-block;
    
    margin-top: 45px;
    
    padding: 10px 25px;
    
    font-size: 17px;
    
    outline: none;
    border: none;
    
    background: #fff;
    color: #303030;
    
    -webkit-transition: .4s linear;
    transition: .4s linear;
}
.aph-button:hover{
    background: #303030;
    color: #fff;
}


